

form{
    width: 70%;
    margin: auto;
    margin-top: 50px;
    background: #1976d2;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
}


input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}

#boton{
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

#boton :hover{
    cursor: pointer;
}

.social{
    position: fixed;
    left: 0;
    top: 400px;
    z-index: 2000;
}



.socialLi{

    
    padding:5px 0px;
    text-decoration: none;
    
}

.icon:hover{
    padding: 10px 30px;
    background: black;
    -webkit-transition:all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}